.navbar-child2,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  height: 111px;
}
.rectangle-div {
  background-color: var(--color-gray-100);
  filter: blur(4px);
  width: 100%;
}
.navbar-child2 {
  width: 146px;
  object-fit: cover;
}
.home5,
.our-games5 {
  position: absolute;
  top: 44px;
  left: 367px;
  display: inline-block;
  width: 112px;
  height: 23px;
  cursor: pointer;
}
.home5 {
  left: 269px;
  width: 68px;
}
.our-studio4 {
  left: 511px;
  width: 123px;
  cursor: pointer;
}
.blog7,
.contact5,
.our-studio4 {
  position: absolute;
  top: 44px;
  display: inline-block;
  height: 23px;
}
.blog7 {
  left: 662px;
  width: 66px;
  cursor: pointer;
}
.contact5 {
  left: 750px;
  width: 115px;
}
.navbar2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 111px;
}
.blank-line2 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.reach-out-to {
  margin: 0;
  font-size: 42px;
}
.contact-reach-out-container {
  position: absolute;
  top: 173px;
  left: 83px;
  display: inline-block;
  width: 1152px;
  height: 154px;
  text-shadow: 1px 0 0#a815db, 0 1px 0#a815db, -1px 0 0#a815db, 0-1px 0#a815db;
  font-size: var(--font-size-45xl);
}
.general-enquiries {
  font-family: var(--font-inter);
  color: var(--color-darkviolet);
  white-space: pre-wrap;
}
.general-enquiries-generalvr {
  margin: 0;
}
.support-enquiries {
  color: var(--color-darkviolet);
}
.b,
.support-enquiries {
  font-family: var(--font-inter);
}
.span {
  color: var(--color-darkviolet);
  white-space: pre-wrap;
}
.general-enquiries-generalvr-container {
  position: absolute;
  top: 389px;
  left: 96px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 1344px;
  height: 434px;
  text-shadow: 1px 0 0#29292a, 0 1px 0#29292a, -1px 0 0#29292a, 0-1px 0#29292a;
}
.contact4 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
